body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#connection {
  position: absolute;
  z-index: -10;
}
#connection svg {
  z-index: -10;
}
#code {
  position: relative;
}
#code pre.glow {
  background: #ffee79;
}
#code pre {
  z-index: 10;
  border: 0;
}
#code pre.sh_asm {
  font-size: 12px;
}
form h4 {
  float: left;
  margin-top: 4px;
  margin-bottom: 15px;
  margin-right: 12px;
}
pre.sh_asm {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
